* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


header {
    background: #034811;
    color: white;
    padding: 15px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 39%; */
    margin: 0 auto;
    padding: 0 20px;
}

/* Estilização do logo */
.logo img {
    width: 30px;
    max-width: 300%;
    transition: transform 0.3s ease-in-out;
    border-radius: 10%;
    filter: brightness(0) invert(1);
    transform: scale(1.5);
    justify-content: flex-start;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.div-nav-link{
    width: 100px;
    display: flex;
    align-items: center;
    max-width: 40%;
    margin: 0 auto;
    flex-grow: 1;
    gap: 20px;
    justify-content: center;
    /* background-color: aqua; */
}

.nav-links li {
    display: inline;
    position: relative;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 12px;
    transition: color 0.3s ease-in-out, transform 0.2s;
}

.nav-links a:hover {
    color: #f4c542;
    transform: scale(1.1);
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    list-style: none;
    padding: 0;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-menu li {
    margin: 0;
}

.dropdown-menu button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #fcfcfc;
    color: black;
    text-align: left;
    cursor: pointer;
    border-radius: 0;
    display: block;
}

.dropdown-menu button:hover {
    background: #e0ae35;
}

.nav-links li:hover .dropdown-menu {
    display: block;
}

.btn-login-container {
    display: flex;
    gap: 10px;
    align-items: center;
    /* background-color: aquamarine; */
    justify-content: flex-end;
}

.btn-login {
    display: inline-block;
    padding: 6px 20px;
    border: 1px solid #19140035;
    color: #1b1b18;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.5;
    text-decoration: none;
}

.btn-login:hover {
    border-color: #1915014a;
}

/* Responsividade */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        text-align: center;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .nav-links a {
        display: block;
        padding: 10px;
    }


}
